#galeria2{
    
    text-align: center !important;
    margin-top: 60px;
    color: white;
    
}
div.galeria2{
    margin: 10px 20px;
    float: left;
    width: 350px;
}
div.galeria2{
    text-align: center;
}